<section class="landing">
  <div class="container">
  <h2><%= @champion_facade.current_champ.name.titleize %>, <%= @champion_facade.current_champ.title.titleize %></h2>
  <p><a href="/favorites/<%= @champion_facade.current_champ.name %>">Favorite</a></p>
</div>
</section>
<section class="data">
  <div class="container">
    <table>
      <tbody>
        <% @champion_facade.current_champ_stats.each do |stat, val| %>
        <tr>
          <td><%= stat %>:</td>
          <td><%= val %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
